@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url('./images/background.jpg') rgba(255,255,255,.3);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.retake {
  width: 300px;
  height: 50px;
  z-index: 50;
}

.welcome {
  height: 100vh;
  background: rgba(0,0,139,.75) url('./images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0,0,139,.1);
}